{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
<!--content-->
<div class="kic-top ">
	<div class="container ">
           <div class="spec ">
              <h3>Artikel</h3>
              <div class="ser-t">
                 <b class="line"></b>
              </div>
           </div>
         {% for x in objects %}
		<div class="col-md-4 kic-top1">
            <img src="{% if x.photo %}{% thumbnail x.photo 400x400 crop %}{% endif %}" class="img-responsive" alt="">
            <a href="{% url 'detailarticle' x.slug %}" ><h6>{{x.title}}</h6></a>
			<p>{{x.shortdesc}}</p>
		</div>{% endfor %}
	</div>
</div><br>
{% endblock %}