{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
<!--- terms ---->
<div class="terms">
   <div class="container">
      <div class="spec ">
         <h3>{{objects.title}}</h3>
         <div class="ser-t">
            <b></b>
         </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
         {% autoescape off %}{{objects.content|safe}}{% endautoescape %}
          </div>
          <div class="col-md-2"></div>
      </div>
   </div>
</div>
{% endblock %}