{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
 <!--banner-->
 <div class="banner-top">
	<div class="container">
		<h3 >Kontak</h3>
		<h4><a href="/">Beranda</a><label>/</label>Kontak</h4>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- contact -->
<div class="contact">
	<div class="container">
		<div class=" contact-w3">	
			<div class="col-md-12 contact-left">
				<h4>Kontak Informasi</h4>
				<p> Saran, komentar atau pertanyaan terkait produk atau pelayanan kami bisa di tujukan ke alamat di bawah ini.</p>
				<ul class="contact-list">
					<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Dsn krajan 01/04 Desa Badean - Blimbingsari - Banyuwangi.</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:organiku19@gmail.com">organiku19@gmail.com</a></li>
					<li> <i class="fa fa-phone" aria-hidden="true"></i><a href="">+6287781737152</a></li>
				</ul>
				
			</div>
			
		<div class="clearfix"></div>
	</div>
	</div>
</div>
<!-- //contact -->


{% endblock %}